<mat-toolbar color="danger">
  <button mat-icon-button class="menu" aria-label="menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>  Wade's Pool Cleaning Service</span>
  <img id="splash" src="https://i.postimg.cc/yxRQKsSw/clipart560417.png">
  <img id="deadpool" src="https://i.postimg.cc/HLFf5ZH4/clipart1774967.png">
</mat-toolbar>

<mat-toolbar>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button class="home">Home</button>
  <button class="about">About Us</button>
  <button class="services">Services</button>
</mat-toolbar>
