.mat-toolbar {
  font-size: 45px;
  background-color: darkred;
  /* font-family: ; */
}

.mat-icon {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

span {
  margin-left: 12px;
  font-weight: bold;
}

button.example-icon.favorite-icon {
  color: azure;
  width: 35px;
  height: 35px;
  background-color: black;
  border: none;
  padding: 0px;
}

button.example-icon {
  color: azure;
  width: 35px;
  height: 35px;
  background-color: black;
  border: none;
  padding: 0px;
}

button.menu {
  color: azure;
  width: 35px;
  height: 35px;
  background-color: black;
  border: none;
  padding: 0px;
}

#deadpool {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

#splash {
  display: block;
  width: 80px;
  margin-right: auto;
  margin-left: 25px;
}

button.about {
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: transparent;
  border: none;
}

button.home {
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: transparent;
  border: none;
  margin-left: 25px;
}

button.services {
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: transparent;
  border: none;
}
