<div>
  <h3 class="head editor">
    <strong>Reliable Service For 100% Enjoyment</strong>
  </h3>
</div>
<div id="contact">
  <h4 class="editor">
    We Prioritize eliminating your problems completely!
  </h4>
<form>
    <mat-form-field>
    <mat-label>Appointment</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button id="call">Call Us! 1800-CHIMICHANGA</button>
</form>
</div>
