<form [formGroup]="commentService.commentForm" (ngSubmit)="commentService.onSubmit()">
  <div class="container">
    <div class="title">
      <h2>Feedback from valued Customers</h2>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" formControlName="comment">
        <label for="name">Name</label>
        <input type="text" formControlName="name">
      </div>
    </div>
    <button type="submit" id="commentSubmit" (click)="commentService.onSubmit()">Submit</button>
    <div class="container" *ngIf="commentService.emptyList">
      <mat-card class="commentsCard" *ngFor="let item of commentService.comments">
        {{ item.comment }} - {{ item.name }}
      </mat-card>
    </div>
  </div>

</form>
