/* You can add global styles to this file, and also import other style files */

body {
 height: 100%;
 background-image: url('https://i.postimg.cc/mZmWhhyJ/pexels-pixabay-261327.jpg');
 background-size: cover;
 margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
