/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
 height: 100%;
 background-image: url('https://i.postimg.cc/mZmWhhyJ/pexels-pixabay-261327.jpg');
 background-size: cover;
 margin: 0;
font-family: 'Open Sans', sans-serif;
}

